.header{
    padding: 1.25rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBF0F5;
}

.headerDiv{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-weight: 700;
    border: 1px solid #EBF0F5;
    padding: 0.5rem;
    border-radius: 10px;
}

.profileImg{
    height: 26px;
    width: auto;
    border-radius: 50%;
}