@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}



ul{
  list-style-type: none;
}

input,button{
  font: inherit;
}

button{
  cursor: pointer;
}